body {
  background-image: url('./sunset.jpg');
  background-size: cover;
}
h1 {
  font-size: 15vw;
  text-align: center;
  color: rgba(255,255,255,0.5);
}
h2 {
  font-size: 5vw;
  text-align: center;
  color: rgba(0,0,0,0.75)
}
img {
  width: 20vw;
  height: 30vh;
}
